[submodule "calabash-distro"]
	path = distro
	url = https://github.com/transpect/calabash-distro
[submodule "extensions/transpect/unzip-extension"]
	path = extensions/transpect/unzip-extension
	url = https://github.com/transpect/unzip-extension
[submodule "extensions/transpect/image-props-extension"]
	path = extensions/transpect/image-props-extension
	url = https://github.com/transpect/image-props-extension
[submodule "extensions/transpect/rng-extension"]
	path = extensions/transpect/rng-extension
	url = https://github.com/transpect/rng-extension
[submodule "extensions/transpect/image-transform-extension"]
	path = extensions/transpect/image-transform-extension
	url = https://github.com/transpect/image-transform-extension
[submodule "extensions/transpect/epubcheck-extension"]
	path = extensions/transpect/epubcheck-extension
	url = https://github.com/transpect/epubcheck-extension
[submodule "extensions/transpect/mathtype-extension"]
	path = extensions/transpect/mathtype-extension
	url = https://github.com/transpect/mathtype-extension
[submodule "extensions/transpect/svn-extension"]
	path = extensions/transpect/svn-extension
	url = https://github.com/transpect/svn-extension
